* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar-header {
    background: white;
}

@media screen and (max-width: 991px) {
    .responsive-mobile-navbar {
        height: 100vh;
        overflow-y: scroll;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.dropdown-logout img {
    cursor: pointer;
}

.nav-link:hover {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.nav-link {
    color: #404040 !important;
    font-size: 16px !important;
    letter-spacing: 0.5px !important;
    /* padding-left: 20px !important; */
}

.nav-link .icon-white {
    display: none;
}

.nav-second-level li {
    list-style: none !important;
    background: transparent !important;
}

.nav-link-collapse:after {
    float: right;
    content: '\f107';
    font-family: 'FontAwesome';
    padding-left: 60px;
    padding-top: 5px;
}

.nav-link-show:after {
    float: right;
    content: '\f106';
    font-family: 'FontAwesome';
    padding-left: 60px;
    padding-top: 5px;
}

.nav-item ul.nav-second-level {
    padding-left: 0;
}

.nav-item ul.nav-second-level>.nav-item {
    padding-left: 20px;
}

.has-search-input .form-control {
    padding-left: 2.375rem;
}

.has-search-input .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    padding-left: 15px;
    padding-right: 10px;
}

.search-field-outer {
    width: 100%;
    margin: 0 auto;
}

.search-field {
    border-radius: 33px;
    height: 51px;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.search-field:active,
.search-field:focus {
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.search-field-inner .fa-search {
    color: #0277FA !important;
}

.search-field-inner input::-webkit-input-placeholder {
    color: #9BA9B0;
    font-size: 15px;
}

.search-field-inner input:-ms-input-placeholder {
    color: #9BA9B0;
    font-size: 15px;
}

.search-field-inner input::-ms-input-placeholder {
    color: #9BA9B0;
    font-size: 15px;
}

.search-field-inner input::placeholder {
    color: #9BA9B0;
    font-size: 15px;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}

.profile span {
    color: #404040;
    font-size: 16px;
    font-weight: 600;
}

.logo-header img {

    /* position: fixed; */
    z-index: 999;
    padding-bottom: 1rem;
}

.content-wrapper {
    margin-top: 80px !important;
}

.sidenav-item .icon-white,
.sidenav-item .icon-blue {
    width: 28px !important;
    height: 23px;
}

@media (min-width: 992px) {
    .logo-header img {
        margin-left: 50px;
    }

    .sidenav {
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        height: calc(100vh - 3.5rem);
        margin-top: 4rem;
        background: white;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-top: 50px;
        overflow-y: auto;
    }

    /* / width / */
    .sidenav::-webkit-scrollbar {
        width: 0px;
    }

    /* / Track / */
    .sidenav::-webkit-scrollbar-track {
        background: #0277FA;
    }

    /* / Handle / */
    .sidenav::-webkit-scrollbar-thumb {
        background: #0277FA;
    }

    /* / Handle on hover / */
    .sidenav::-webkit-scrollbar-thumb:hover {
        background: #0277FA;
    }

    .sidenav .nav-item {
        margin-top: 8px;
        margin-bottom: 8px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative;
    }

    .sidenav .nav-item {
        width: 90%;
        margin: 0 auto;
    }

    .sidenav .nav-item.active {
        background: #003F77;
        border-radius: 10px;
    }

    .sidenav .nav-item.active .nav-link {
        color: white !important;
    }

    .sidenav .nav-item.active .nav-link .icon-blue {
        display: none;
    }

    .sidenav .nav-item.active .nav-link .icon-white {
        display: block;
    }

    .sidenav .nav-item.active .sidenav-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .sidenav .nav-item:hover {
        background: #003F77;
        border-radius: 10px;
    }

    .sidenav .nav-item:hover .nav-link {
        color: white !important;
    }

    .sidenav .nav-item:hover .nav-link .icon-white {
        display: block;
    }

    .sidenav .nav-item:hover .nav-link .icon-blue {
        display: none;
    }

    .sidenav .nav-item:hover .sidenav-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .sidenav .nav-item .sidenav-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .search-field-outer {
        width: 47%;
        margin: 0 auto;
    }

    .content-wrapper {
        margin-left: 250px;
        margin-top: 80px;
    }

    .navbar-collapse {
        padding-left: 15% !important;
    }

    .navbar-header-right-section {
        padding-right: 70px;
    }
}

/* media query end */
.search-field,
.search-field-inner {
    width: 100% !important;
}

.navbar-expand-lg .sidenav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.nav-link-text {
    padding-left: 15px !important;
}

/* notification */
.notification-dropdown {
    left: -345px !important;
    border-radius: 10px;
    max-width: 400px;
}

@media (max-width: 992px) {
    .notification-dropdown {
        left: 0px !important;
        border-radius: 10px;
        width: 400px;
    }
}

.notification-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.notification-profile p span {
    color: #0277FA;
    font-size: 16px;
    font-weight: bold;
    padding-right: 5px;
}

.notification-profile p {
    color: #A8A8A8;
    margin-bottom: 0px;
}

.notification-profile p:hover {
    text-decoration: none !important;
    border-bottom: none !important;
}

.notification-area:hover {
    text-decoration: none !important;
    border-bottom: none !important;
}

.notification-profile:hover {
    background-color: gainsboro !important;
}

.notification-profile {
    border-bottom: 1px solid gainsboro !important;
    padding-left: 20px;
}

.notification-area:last-of-type .notification-profile {
    border-bottom: none !important;
}

.dropdown-menu {
    left: -195px;
}

.icon-button {
    position: relative;
    cursor: pointer;
}

.icon-button__badge {
    position: absolute;
    top: 3px;
    right: 2px;
    width: 8px;
    height: 8px;
    background: #00FFB8;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
}

.navbar-toggler i {
    color: #003F77;
}

.dropdown-menu .fa-sign-out {
    color: #003F77;
}

.dropdown-menu .logout {
    font-size: 14px;
    color: #A8A8A8;
}

.logout-dropdown {
    left: -150px !important;
}